{% extends 'admin/master.html' %}
{% block title %}  home {% endblock title %}
{% load static %}
{% block content %}
<body>
   <section id="main-content" style=" margin-right:110px;">
     <section class="wrapper">
       <div class="row">
         <div class="col-lg-12">
             <h3 class="page-header"><i class="fa fa-file-text-o"></i>Generate Election</h3>
           <ol class="breadcrumb">
             <li><i class="fa fa-home"></i>Home</li>
             <li><i class="icon_document_alt"></i>Election</li>
             <li><i class="fa fa-file-text-o"></i>Generate Election</li>
           </ol>
         </div>
     </div>
       <div class="row">
         <div class="col-lg-12">
           <section class="panel" >
             <header class="panel-heading">
                 Election
             </header>
             <div class="panel-body">
                 <form class="form-horizontal" method="POST" action="generate_election">
                     {% csrf_token %}
                   <div class="form-group">
                   <label class="col-sm-2 control-label">Election ID</label>
                   <div class="col-sm-10">
                     <input type="text" class="form-control round-input" required name="eno" style="width:80%;">
                   </div>
                 </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">Election Type</label>
                   <div class="col-sm-10">
                       <div class="btn-group open">
                           <select name="electiontype" required class="form-control round-input" style="width:80%;">
                       <option value="" selected="">Election Type</option>
                       <option value="AC-GENERAL">AC-GENERAL</option>
                       <option value="PC-GENERAL">PC-GENERAL</option>
                           </select>
                       </div>
                         </div>
                     </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">State</label>
                   <div class="col-sm-10">
                       <div class="btn-group open">
                           <select name="state" required class="form-control round-input" id="state" style="width:80%;">
                       <option value="#" selected="">Please select an State/UT</option>
                           <option value="ABIA">ABIA</option>
                           <option value="ADAMAWA">ADAMAWA</option>
                           <option value="AKWA IBOM">AKWA IBOM</option>
                           <option value="ANAMBRA">ANAMBRA</option>
                           <option value="BAUCHI">BAUCHI</option>
                           <option value="BAYELSA">BAYELSA</option>
                           <option value="BENUE">BENUE</option>
                           <option value="BORNO">BORNO</option>
                           <option value="CROSS RIVER">CROSS RIVER</option>
                           <option value="DELTA">DELTA</option>
                           <option value="EBONYI">EBONYI</option>
                           <option value="EDO">EDO</option>
                           <option value="EKITI">EKITI</option>
                           <option value="ENUGU">ENUGU</option>
                           <option value="GOMBE">GOMBE</option>
                           <option value="IMO">IMO</option>
                           <option value="JIGAWA">JIGAWA</option>
                           <option value="KADUNA">KADUNA</option>
                           <option value="KANO">KANO</option>
                           <option value="KATSINA">KATSINA</option>
                           <option value="KEBBI">KEBBI</option>
                           <option value="KOGI">KOGI</option>
                           <option value="KWARA">KWARA</option>
                           <option value="LAGOS">LAGOS</option>
                           <option value="NASARAWA">NASARAWA</option>
                           <option value="NIGER">NIGER</option>
                           <option value="OGUN">OGUN</option>
                           <option value="ONDO">ONDO</option>
                           <option value="OSUN">OSUN</option>
                           <option value="OYO">OYO</option>
                           <option value="PLATEAU">PLATEAU</option>
                           <option value="RIVERS">RIVERS</option>
                           <option value="SOKOTO">SOKOTO</option>
                           <option value="TARABA">TARABA</option>
                           <option value="YOBE">YOBE</option>
                           <option value="ZAMFARA">ZAMFARA</option>
                           <option value="FCT">FCT</option>
                   </select>
                   </div>
                   </div>
                     </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">Start Date</label>
                   <div class="col-sm-10">
                     <input type="date" class="form-control round-input" required name="sdate" style="width:80%;">
                   </div>
                 </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">Start Time</label>
                   <div class="col-sm-10">
                     <input type="time" class="form-control round-input" required name="stime" style="width:80%;">
                   </div>
                 </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">End Date</label>
                   <div class="col-sm-10">
                     <input type="date" class="form-control round-input" required name="edate" style="width:80%;">
                   </div>
                 </div>
                     <div class="form-group">
                   <label class="col-sm-2 control-label">End Time</label>
                   <div class="col-sm-10">
                     <input type="time" class="form-control round-input" required name="etime" style="width:80%;">
                   </div>
                 </div>
               <div class="form-group">
                     <div class="col-lg-offset-2 col-lg-10">
                       <button class="btn btn-success" type="submit">Generate Election</button>
                       <button class="btn btn-default" type="reset">Reset</button>
                     </div>
                   </div>   
                     <div class="form-group">
                     <div class="col-lg-offset-2 col-lg-10">
                          {% for message in messages %}
                           <h3> {{message}} </h3>
                           {% endfor %}
                     </div>
                   </div> 
               </form>
             </div>
           </section>
           </div>
         </div>
     </section>
     </section>
</body>
{% endblock content %}